

/* App.css */
/* .App {
  text-align: center;
} */

/* .App-header {
  background-color: #282c34;
  padding: 30px;
  color: white;
} */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px 0;
}

button {
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
